.main-table
{
    width: 100%;
    height: 500px;
}
*{
    font-family: cursive;
    margin: 0;
    padding: 0;
}
.log
{
    background-color: bisque;
}
.h1
{
    text-align: center;
}
.main-header {
    /* background-color:#f1efeff8;  Dark background */
    background-color: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(50px); */
    color: white;            /* White text */
    
    height: 30px;
    padding: 10px 20px;
    text-align: center;
}
.main-header nav ul li {
    display: inline;
    margin-top: -5px;
    margin-right: -5px;

}
.head
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50px;
    align-items: center;
   
}
.anchor 
{
    display: flex;
    gap: 20px;
    margin-left: 1100px;

}
.anchor a
{
    text-decoration: none;
    color: black;

}
.head h1{
color: black;
font-family: "Pacifico",cursive;
display: flex;
}
.main-footer {
    margin-top: 1000px; /* Pushes the footer to the bottom */
    background-color: #333;
    color: black;
    padding: 50px;
    text-align: center;
 } 
 body
{
    background-image: url("./car.jpg");
    background-size: 1550px 750px;
    background-repeat: no-repeat;

}
.table 
{
    background-color: burlywood;
    margin-left: 300px;
    margin-top: 100px;
    height: 400px;
    width: 700px;

}
.banner-box {
    width: 1340px;
    height: 700px;
    padding: 90px;
    background: rgba(27, 27, 27, 0.502);
    background-size: 500px;
    box-shadow: 5px 5px 15px rgba(244, 240, 240, 0.3);
    
}
.published
{
    color: #ffcc00;
    margin-left: 250px;
    background-color: #7d0707;
    height: 50px;
    width: 900px;
    text-align: center;
}
.main-footer {
    margin-top: 100px; /* Pushes the footer to the bottom */
    background-color: #333333a0;
    color: black;
    height: 500px;
    padding: 50px; 
    text-align: center;

 }
 .foot img  
{
    width: 400px;
}
.foot
{
    display: flex;
}
.contact
{
    margin-left: 500px;

}
input[type="text"],input[type="number"],select{
    width: 80%;
    height: 20%;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.contact h2
{
    font-size: 40px;
    color: #7d0707;
}
button 
{
    height: 50px;
    width: 80px;
    margin-top: 100px;
    margin-left: 850px;
}
.upper 
{
    background-color: #ffcc00;
    height: 250px;
}
.upper h3
{
font-size: 30px;
margin-left: 500px;
padding-top: 20px;
}
.join
{
    height: 50px;
    width: 80px;
    margin-top: 30px;
    background-color: rgb(255, 251, 251,0.7);
    margin-right: 800px;
}

body
{
    background-image: url("./car.jpg");
    background-size: 1525px 850px;
    background-repeat: no-repeat;

}
.main-header {
    /* background-color:#f1efeff8;  Dark background */
    background-color: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(50px); */
    color: white;            /* White text */
    
    height: 30px;
    padding: 10px 20px;
    text-align: center;
    
}
.main-header nav ul li {
    display: inline;
    margin-top: -5px;
    margin-right: -5px;

}
.head
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50px;
    align-items: center;

   
}
.anchor 
{
    display: flex;
    gap: 30px;
    margin-left: 1100px;
;

}
.anchor a
{
    text-decoration: none;
    color: black;
    font-size: large;
    align-content: right;

}
input[type="text"],input[type="number"],select{
    width: 80%;
    height: 20%;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.contact h2
{
    font-size: 40px;
    color: #7d0707;
}
button 
{
    height: 50px;
    width: 80px;
    margin-top: 100px;
    margin-left: 850px;
}
.upper 
{
    background-color: #ffcc00;
    height: 250px;
}
.upper h3
{
font-size: 30px;
margin-left: 500px;
padding-top: 20px;
}
.join
{
    height: 50px;
    width: 80px;
    margin-top: 30px;
    background-color: rgb(255, 251, 251,0.7);
    margin-right: 800px;
}
.form li {
    position: relative; 
    list-style: none; 
    cursor: pointer;
    font-size: 20px;
    color: rgb(16, 16, 16);
    margin-right: 5px;
    margin-left: -8px;
    transition: background-color 0.3s ease;
}
.form li:hover{
     transform: scale(1.1); 
    color: #861e09; 
}
.form-link:visited {
    background-color:#ffcc00 ; 
    color: #ccc;              
}
.form li ul.dropdown {
    background-color: #f15a78a5;
    position: absolute;
    display: none;
     list-style: none; 
    padding: 0;
    margin: 0;
}

.form li:hover ul.dropdown {
    display: block; 
    cursor: pointer;
    transform: scale(1.1);
    color: #ffcc00; 

}

.form li ul.dropdown li {
    display: block;
    padding: 10px;
    color: white;
    cursor: pointer;
    list-style: none; 
    font-size: 15px;

}

.form li ul.dropdown li:hover {
    background-color: #7e160f; 
    transform: scale(1.1);
}
.text
{
    color: #7d0707;
    text-align: center;
    background-color: white;
}
.b
{
    background-color: rgb(230, 218, 218);
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 50px;
   
}


/*footer part*/
.main-footer {
    margin-top: 100px; /* Pushes the footer to the bottom */
    background-color: #333333a0;
    color: black;
    height: 500px;
    padding: 50px; 
    text-align: center;

 }
 .foot img      
{
    width: 400px;
}
.foot
{
    display: flex;
}
.contact
{
    margin-left: 500px;

}
input[type="text"],input[type="number"],select{
    width: 80%;
    height: 20%;
    border-radius: 8px;
    border: none;
    padding: 10px;
}


*
    
    
   
    .format a{
            color: aliceblue;
            text-decoration: none;
            margin-left: 20px;
            font-size: 20px;
            padding-right: 0px;
            transition: all 0.3s ease;
        }
        input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    select {
        width: 80%;    /* Adjusts the width */
        padding: 10px; /* Increases the padding inside the box */
        margin: 8px 0; /* Adds spacing between boxes */
        border: 1px solid #ccc; 
        border-radius: 8px; /* Rounds the corners */
        box-sizing: border-box;
        font-size: 16px; /* Increases the font size */
        
    }

    input[type="text"],input[type="number"],select{
        width: 80%;
        height: 20%;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.contact h2
{
    font-size: 40px;
    color: #7d0707;
}
button 
{
    height: 50px;
    width: 80px;
    margin-top: 100px;
    margin-left: 850px;
}    
    
    
    

    /*footer final part*/
   
   
  
    .dob p{
        margin-left: 5px;
        font-size: 14px;
    }
    .dob select{
        margin-left: 8px;
    }
    .submit {
        display: flex;
        justify-content: center;
        margin-left: -850px;
        margin-top: -80px;
        
    }
    .submit button{
        background-color: #880f0f;
        height: 50px;
        width: 110px;    
        font-size: 20px;
        border-radius: 8px;  
        color: white;  
        cursor: pointer;
        border: none;
    }
    .submit button:hover{
        background-color:rgb(245, 101, 101);
      
    }
    .border{
        border: 1px solid black;
    }
    .main{
        width: 700px;
        height: 700px;
        margin-top: 50px;
        margin-left: 400px;
        padding-top:15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        border-top: 10px solid #880f0f;
        box-shadow: 0 0 7px;
        backdrop-filter: blur(0px);
        border-radius: 7px;
    }
    .name i{
        /* margin-top: 25px; */
        color: #fbf6f6;
        font-size: 25px;
        
    }
    .address i{
        margin-top: 12px;
        color: #ffffff;
        font-size: 25px;
    }
    
    .dob i{
        margin-top: 8px;
        color: #0f5288;
        font-size: 25px;
    }
    
    .email i{
        margin-top: 20px;
        color: #ede5e5;
        font-size: 25px;
    }
    
    .contact i{
        margin-top: 20px;
        color: #eae8e8;
        font-size: 25px;
    }
    
    .school i{
        margin-top: 20px;
        color: #0f5288;
        font-size: 25px;
    }
    .high_school i{
        margin-top: 20px;
        color: #0f5288;
        font-size: 25px;
    }
    
    .faculty i{
        margin-top: 20px;
        color: #880f0f;
        font-size: 25px;
    }
    
    .confirm_pwd i{
        margin-top: 15px;
        color: #dbd9d9;
        font-size: 25px;
    }
    
    .password i{
        margin-top: 15px;
        color: #dbd2d2;
        font-size: 25px;
    }
    .check_box p{
        font-size: 20px;
    }
    
    /* ebeddd code video */
    .opacity{
        /* background-color: rgba(255,255,255,0.4); */
        backdrop-filter: blur(10px);
    }
    .up_events h2{
        margin-top: 20px;
        margin-left: 65px;
        color: white;
    }
    .upcoming{
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
        
    }
    .upcoming img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
    hr{
        margin-top: 30px;
    }
    .recent h2{
        color:white;
        margin-left: 65px;
        margin-top: 20px;
    }
    .row1{
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
       


    }
    embed {
        width:300px;
         height:300px;
         border-radius: 10px;
    }
    .gender{
        margin-left: 20px;margin-top: 0;
    }
    h4{
        margin-left: 30px;
        margin-bottom: 10px;
    }
    h2{
        margin-left: 290px;
        color: white;
    }

    .contact h2{
        margin-left: -10px;
    }

    .foot img{
        height: 300px;
    }
   .check_box label
   {
    color: #ccc;
   }
   *i
   {
    background-color: #ccc;
   }